header {
	position:relative;
	left:0;
	top:0;
	width:100%;
	min-height:120px;
	padding:50px 0;
	color:#fff;
    background-color: #383838;
	    /* background: #383838 url(https://www.athenadesignstudio.com/plugins/switch/images/bg.jpg) no-repeat center center; */
	
    text-align:center;
    padding-bottom:10px;
    font-family: "Open Sans";
}